body{
    margin: 0;
    padding: 0em;
    background: #000000;
}
@media only screen and (max-width: 600px){
    .background{
        order: 1;
    }
    .background img{
        width: 100%;
        float: none;
    }
    .first-col{
        order: 2;
    }
    .line{
        font-size: 10px;
        margin: 0;
    }
}
.background{
    position: relative;
    object-fit: fill;
    padding: 0em;
    margin: 0em;
}
@media only screen and (min-width: 600px){
    .background img{
        width: 80%;
        float: right;
    }
}


.navbar div{
    font-family: monospace;
    letter-spacing: 1.5px;
}

.line{
    position: relative;
    border-right: 2px solid #ffffff;
    white-space: nowrap;
    overflow: hidden;
    width : 24em;
    margin: 0 auto;
}

/* Animation Typewriter */
.name-typewriter {
    animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) 10 normal;
}

@keyframes typewriter{
    from {
        width: 0em;
    }
    to{
        width: 24em;
        border-right: none;
    }
}
@keyframes blinkTextCursor{
    from {
        border-right-color: rgba(255, 255, 255,0.75);
    }
    to{
        border-right-color: transparent;
        border-right: transparent;
    }
}


.menu-btn{
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn .menu-btn-burger{
    width: 20px;
    height: 3px;
    background: #ffffff ;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn .menu-btn-burger::before,
.menu-btn .menu-btn-burger::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    background: #ffffff ;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn-burger::before {
    transform: translateY(-6px);
}

.menu-btn-burger::after {
    transform: translateY(6px);
}

/* Animation of Menu Bar */
.menu-btn.open .menu-btn-burger{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn-burger::before{
    transform: rotate(45deg) translate(35px,-35px);
}
.menu-btn.open .menu-btn-burger::after{
    transform: rotate(-45deg) translate(35px,35px);
}

.about-section{
    position: relative;
    top: 30%;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-section .hello-class{
    border-left:5px solid #c4b9b3;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    animation: helloBackground 4s 1 linear;
}
.about-section .hello-class .div-hello{
    color: #ffffff;
    width: 120px;
}
@keyframes helloBackground{
    0% {
        width: 0%;
    }
    50%{
        width: 60px;
        background-color:#6b6866;
    }
    100% {
        width: 120px;
        background-color:none;
    }
}
.about-section .about-me{
    color: #c4b9b3;
    padding-left: 12px;
}